/* Estilos para el selector de indicadores */
#indicatorSelect {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
  }
  
  /* Estilos para la sección de información del indicador */
  #indicatorInfo {
    margin-bottom: 20px;
  }
  
  #indicatorInfo h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #indicatorInfo p {
    margin-bottom: 5px;
  }
  
  /* Estilos para el contenedor del gráfico */
  #chartContainer {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Estilos para el gráfico */
  #indicatorChart {
    height: 600px;
    max-height: 400px;
    margin-bottom: 20px;
  }
  
